<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/><!-- 빈문자열을 null로 판단 -->
	</settings>
	
	
	<typeAliases>
			<typeAlias type="com.kh.thenolja.notice.model.vo.Notice"   alias="notice"/>
			<typeAlias type="com.kh.thenolja.event.model.vo.Event"   alias="event"/>
			<typeAlias type="com.kh.thenolja.coupon.model.vo.Coupon" alias="coupon"/>
			<typeAlias type="com.kh.thenolja.member.model.vo.Member" alias="member"/>
	</typeAliases>
		<!-- 주의할 점! : 별칭등록 하기 위핵서는 반드시 해당 클래스가 진짜 만들어져 있어야함 -->

	<mappers>
		<mapper resource="/mapper/notice-mapper.xml"/>
		<mapper resource="/mapper/event-mapper.xml"/>
		<mapper resource="/mapper/coupon-mapper.xml"/>
		<mapper resource="/mapper/member-mapper.xml"/>
	</mappers>
	
	<!-- 주의할 점! :  매퍼파일 등록하기 위해서는 반드시 해당 경로에 파일이 존재해야하며 namespace속성값도 있어야함  -->


</configuration>
